<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hand.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.hand.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/updateAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.hand.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.hand.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/insertAction</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.hand.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/select.jsp</url-pattern>
    <url-pattern>/update.jsp</url-pattern>
    <url-pattern>/delete.jsp</url-pattern>
    <url-pattern>/insert.jsp</url-pattern>
  </filter-mapping>
</web-app>